<!DOCTYPE html>
html(lang="es")
  head
    // Este comentario se traducira a html
    //-Este comentario no
    meta(charset="UTF-8")
    title 

    // Descripcion de la pagina (¡¡NO SIRVE PARA SEO!!)
    meta(name="description", content="")
    meta(name="author", content="")

    // Metas de compativilidad movil 
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="MobileOptimized", content="true")
    meta(name="handheldFriendly", content="true")

    //-script(src="js/jquery-2.1.4.min.js")

      
    //-Icomoon
    //-link(rel="stylesheet", href="icomoon/demo-files/demo.css")

    // Estilos de css 
    link(rel="stylesheet", href="css/estilo.css")

    //Foundation
    //-link(rel="stylesheet", href="dist/css/foundation.min.css")
  body
    header
      #topbar
        figure#logo
          a(href=""): img(src="logo.png")
        nav
          ul
            li.register Volverse Expositor
            li Expositores
            li Categorias
            li Iniciar Sesión
      #title
        h1 Expoalbercas
          br
          small Te ayudamos a buscar la alberca de tus sueños
        div
          button ¿Como funciona?
      #filter
        form
          div
            span
              input(type="text" )
              input(type="text")
            button Buscar
    section
      #pasos
        //img(src="img/expo_pasos.png").desk
        img(src="img/expo_pasos1.png").movil
        img(src="img/expo_pasos2.png").movil
      #welcome
        div
          figure(style="background:url('img/party.jpg')")
          #info
            h2 Bienvenido
            p Somos un directorio web donde podrá encontrar proveedores para construir o mantener su alberca. Sientase libre de solicitar cotizaciones sin compromiso de compra.
            button Unete como expositor
      #content
        section.botonera
            button.active Proveedores
            button Productos
        #articles
          article
            figure.example(style="background:url('img/party.jpg')")
            figure.logo(style="background: white url('img/logo/1.jpg')")
            #title
              h4 Rialzo Internacional
              p Distrito Federal
            .price
              span Desde $320,560
            .web
              a(href="#") www.rialzointernacional.com.mx
          article
            figure.example(style="background:url('img/ex1.jpg')")
            figure.logo(style="background: white url('img/logo/2.jpg')")
            #title
              h4 Rialzo Internacional
              p Distrito Federal
            .price
              span Desde $320,560
            .web
              a(href="#") www.rialzointernacional.com.mx
          article
            figure.example(style="background:url('img/ex2.jpg')")
            figure.logo(style="background: white url('img/logo/3.jpg')")
            #title
              h4 Rialzo Internacional
              p Distrito Federal
            .price
              span Desde $320,560
            .web
              a(href="#") www.rialzointernacional.com.mx
          article
            figure.example(style="background:url('img/ex3.jpg')")
            figure.logo(style="background: white url('img/logo/4.jpg')")
            #title
              h4 Rialzo Internacional
              p Distrito Federal
            .price
              span Desde $320,560
            .web
              a(href="#") www.rialzointernacional.com.mx
          article
            figure.example(style="background:url('img/ex4.jpg')")
            figure.logo(style="background: white url('img/logo/5.jpg')")
            #title
              h4 Rialzo Internacional
              p Distrito Federal
            .price
              span Desde $320,560
            .web
              a(href="#") www.rialzointernacional.com.mx
          article
            figure.example(style="background:url('img/ex5.jpg')")
            figure.logo(style="background: white url('img/logo/6.jpg')")
            #title
              h4 Rialzo Internacional
              p Distrito Federal
            .price
              span Desde $1,320,560
            .web
              a(href="#") www.rialzointernacional.com.mx
          article
            figure.example(style="background:url('img/ex6.jpg')")
            figure.logo(style="background: white url('img/logo/7.jpg')")
            #title
              h4 Rialzo Internacional
              p Distrito Federal
            .price
              span Desde $320,560
            .web
              a(href="#") www.rialzointernacional.com.mx
